## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [38]:
x = 5 + 4 * 9 % (3 + 1) / 6 - 1

In [39]:
print(x)

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [40]:
num = int(input("Enter a Number:")) 
if num % 2 == 0: 
  print("Given number is Even") 
else: 
  print("Given number is Odd")

Enter a Number:5
Given number is Odd

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [41]:
# Multiplication table (from 1 to 10) in Python

num = 9

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [6]:
num=[]
for x in range(2000, 3200):
    if (x%7==0) and (x%5==0):
        num.append(str(x))
print (','.join(num))


num = []
for x in range(2000, 3200):
    if (x%7==0) and (x%5==0):
        num.append(str(x))
print (','.join(num))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [40]:
list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [41]:
import collections as c
list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]  
c = c.Counter(type(x).__name__ for x in l)
print(dict(c))

{'int': 5, 'str': 4, 'float': 1, 'bool': 1, 'NoneType': 1}

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [42]:
list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
print(list)

result = sum(filter(lambda i: isinstance(i,int),list))
result1 = result + sum(filter(lambda j: isinstance(j,float),list))
print('sum of numeric datatypes from the above list', result1)

[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
sum of numeric datatypes from the above list 22.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [43]:
list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
'-'.join(filter(lambda x: type(x)==str,list))

'Py-10-SQL-John'

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [44]:
list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

def my_func(l):
    dict1 = {}
     
    dict1['sum of all numbers (exclude bool)'] = sum([float(i) for i in l if type(i)== int or type(i)== float])
    dict1['count of all str'] = len([str(i) for i in l if type(i)== str])
    return dict1

my_func(list)

{'sum of all numbers (exclude bool)': 21.5, 'count of all str': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [66]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

In [67]:
#i. Use loops to get the answer
odd_list = []
    for x in li:
        if x % 2 != 0:
            odd_list.append(x)
print('Using loops to get the answer :',odd_list)

IndentationError: unexpected indent (Temp/ipykernel_14280/2084429384.py, line 3)

In [59]:
# ii. Use list comprehensions

odd_list = [x for x in li if x % 2 !=0]
print('list comprehensions :',odd_list)

list comprehensions : [5, 7, 97, 77, 23, 73, 61]

In [60]:
# iii. Use lambda function with filterQ10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input numbers.
odd_list = list(filter(lambda x: (x % 2 != 0), li))
print ('lambda function with filter :',odd_list)

TypeError: 'list' object is not callable

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

#i. Use loops to get the answer

odd_list = []
    for x in li:
    if x % 2 != 0:
        odd_list.append(x)
print('Using loops to get the answer :',odd_list)
        
# ii. Use list comprehensions

odd_list = [x for x in li if x % 2 !=0]
print('list comprehensions :',odd_list)

# iii. Use lambda function with filterQ10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.
odd_list = list(filter(lambda x: (x % 2 != 0), li))
print ('lambda function with filter :',odd_list)

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [74]:
shape_name = input('Enter the name of shape whose area you want to find : ')

def calculate_area(name):
    name = name.lower()
    
    if name == 'square':
        s = int(input("Enter square's side length : "))

        # calculate area of square
        sqt_area = s * s
        print(f'The area of square is {sqt_area}.')
        
    elif name == 'rectangle':
        l = int(input("Enter rectangle's length : "))
        w = int(input("Enter rectangle's width : "))

        # calculate area of rectangle
        rect_area = l * w
        print(f'The area of rectangle is {rect_area}.')
        
    elif name == 'circle':
        r = int(input("Enter circle's radius length: "))
        pi = 3.14

        # calculate area of circle
        circ_area = pi * r * r
        print(f'The area of triangle is {circ_area}. ')
        
        
calculate_area(shape_name)

Enter the name of shape whose area you want to find : circle
Enter circle's radius length: 53
The area of triangle is 8820.26.

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [75]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

def my_func(l1,l2):
    x=set(l1)
    y=set(l2)
    result = {}
    result['Matched'] = list(x.intersection(y))
    result['only in l1'] =list( x-y)
    result['only in l2'] = list(y-x)
    return result
my_func(l1,l2)

TypeError: 'list' object is not callable

Q13: write a UDF to check if a number is prime or not.

In [76]:
x = int(input('Enter a number : '))
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(x))

Enter a number : 5
True

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [78]:
num = int(input('Enter a number : '))
fact = 1
if num < 0:
    print('factorial does not exist for negative numbers')
elif num == 0:
   print('The factorial of 0 is 1')
else:
    for i in range(1, num + 1):
        fact = fact * i
    print('Factorial of',num ,'is',fact)

Enter a number : 4
Factorial of 4 is 24

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [79]:
num = int(input('Enter a number : '))
dict1 = {i: i * i for i in range(1, num + 1)}
dict1

Enter a number : 5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [81]:
numbers = input('Enter a sequence of comma-separated numbers : ' )

numbers_split = numbers.split(',')

number_tuple = tuple(numbers_split)

print(numbers_split , end = ' ')
print(number_tuple)

Enter a sequence of comma-separated numbers : 25
['25'] ('25',)

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [84]:
words = input('Enter a comma separated sequence of words : ')
words_split = words.split(',')
words_split.sort()
print ((', ').join(words_split))

Enter a comma separated sequence of words : 2,9,1,75
1, 2, 75, 9

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [88]:
words = input('Enter a sequence of whitespace separated words : ')
words1 = words.split(' ')
words1 = set(words1)
sorted_words = sorted(words1)
print((' ').join(sorted_words))

Enter a sequence of whitespace separated words : 656484
656484

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [1]:
sentense = input('Enter a sentence : ')
sentense = list(sentense)

upper,lower = 0 , 0

for i in sentense:
    if i.isupper():
        upper = upper + 1
        
    if i.islower():
        lower = lower + 1
    else:
        pass
        
print('UPPER CASE ',upper,'LOWER CASE ',lower)

Enter a sentence : AsSdm
UPPER CASE  2 LOWER CASE  3

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [ ]:
str1 = input('Enter a string : ')
str1 = str1[::-1]
print(str1)

In [1]:
n = int(input().strip())
    if (n % 2 == 1): #odd
        print('Weird')
    elif (n % 2 == 0) and (n in range(2, 6)): #even and range of 2 to 5
        print('Not Weird')
    elif (n % 2 == 0) and (n in range(6, 21)): #even and range of 6 to 20
        print('Weird')
    elif n > 20: #n is greater than 20
        print('Not Weird')
    else:
        print('Weird')

IndentationError: unexpected indent (Temp/ipykernel_17052/2382448359.py, line 2)

In [ ]:
Task
Given an integer, , perform the following conditional actions:

If  is odd, print Weird
If  is even and in the inclusive range of 2 to 5  , print Not Weird
If  is even and in the inclusive range of 6 to 20 , print Weird
If  is even and greater than 20, print Not Weird
Input Format

A single line containing a positive integer, n.

In [7]:
import math
import os
import random
import re
import sys
if __name__ == '__main__':
    n = int(input().strip())
if n % 2 != 0:
    print("Weird")
elif n % 2 == 0 and n in range(2, 6):
    print("Not Weird")
elif n % 2 == 0 and n in range(6, 21):
    print("Weird")
elif n % 2 == 0 and n > 20:
    print("Not Weird")

4
Not Weird

In [ ]:
Task
The provided code stub reads two integers from STDIN,  and . Add code to print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.
Example

In [8]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    add=a+b
    diff=a-b
    mul=a*b
    
    print(add,diff,mul,sep="\n")

5
6
11
-1
30

In [9]:
# Read two integers from input
num1 = int(input())
num2 = int(input())

# Calculate the required values
sum_result = num1 + num2
difference_result = num1 - num2
product_result = num1 * num2

# Print the results
print(sum_result)
print(difference_result)
print(product_result)

5
2
7
3
10

In [10]:
sum=a+b
sub=a-b
mul=a*b
print(sum)
print(sub)
print(mul)

11
-1
30

In [ ]:
Task
The provided code stub reads two integers, a and b, from STDIN.

Add logic to print two lines. The first line should contain the result of integer division, a //b . The second line should contain the result of float division, a /b .

No rounding or formatting is necessary.

In [11]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
print(a//b)
print(a/b)

5
2
2
2.5

In [ ]:
Task
The provided code stub reads and integer,n , from STDIN. For all non-negative integers i<n , print i^2 .

In [15]:
if __name__ == '__main__':
    n = int(input())
   # for i in range(0,n):
      #  print(i*i)

IndentationError: expected an indented block (Temp/ipykernel_17052/2123248417.py, line 7)

In [19]:
def is_leap(year): leap = False
if year % 4 == 0:
        if year % 100 != 0 or year % 400 == 0:
            return True
    return False

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [21]:
def is_leap(year):
    if year % 400 == 0:
        return True
    elif year % 100 == 0:
        return False
    else:
        return year % 4 == 0

In [23]:
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            return True
        else:
            return False
    else:
        return True
else:
    return False

SyntaxError: 'return' outside function (Temp/ipykernel_17052/180643373.py, line 4)

In [25]:
def is_leap(year):
    leap = False
    if year%4==0:
        leap=True
    if year%100==0:
        leap=False;
    if year%400==0: 
        leap=True;
    
    return leap

In [29]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if year%4==0:
        leap=True
    if year%100==0:
        leap=False;
    if year%400==0: 
        leap=True;
    return leap

year = int(input())

1990

In [37]:
if __name__ == '__main__':
    n = int(input())
for i in range(1,n+1): print(i, end = '')

5
12345

In [42]:
print(2**3 + (5 + 6)**(1 + 1))

129

In [43]:
var = 10
print(type(var))
var = "Hello"
print(type(var))

<class 'int'>
<class 'str'>

In [44]:
a = [1, 2, 3]
a = tuple(a)
a[0] = 2
print(a)

TypeError: 'tuple' object does not support item assignment

In [45]:
print(type(5 / 2))
print(type(5 // 2))

<class 'float'>
<class 'int'>

In [46]:
a = [1, 2, 3, 4, 5]
sum = 0
for ele in a:
   sum += ele 
print(sum)

15

In [47]:
count = 0
while(True):
   if count % 3 == 0:
       print(count, end = " ")
   if(count > 15):
       break;
   count += 1

0 3 6 9 12 15

In [48]:
def solve(a, b):
   return b if a == 0 else solve(b % a, a)
print(solve(20, 50))

10

In [49]:
def solve(a):
   a = [1, 3, 5]
a = [2, 4, 6]
print(a)
solve(a)
print(a)

[2, 4, 6]
[2, 4, 6]

In [50]:
def func():
   global value
   value = "Local"
   
value = "Global"
func()
print(value)

Local

In [51]:
a = 3
b = 1 
print(a, b)
a, b = b, a 
print(a, b)

3 1
1 3

In [53]:
def thrive(n):
 if n % 15 == 0:
   print("thrive", end = " ")
 elif n % 3 != 0 and n % 5 != 0:
   print("neither", end = " ")
 elif n % 3 == 0:
   print("three", end = " ")
 elif n % 5 == 0:
   print("five", end = " ")
thrive(35)
thrive(56)
thrive(15)
thrive(39)

five neither thrive three

In [54]:
def check(a):
   print("Even" if a % 2 == 0 else "Odd")
   
check(12)

Even

In [55]:
example = ["Sunday", "Monday", "Tuesday", "Wednesday"];
print(example[-3:-1])

['Monday', 'Tuesday']